<!doctype html>

<html>
<head>
	<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="static/styles.css">
</head>
<body>

	<div class="topnav" id="myTopnav">
	<div class="logo">
	<img src="static/logo.png" style="max-height: 50px;">
 	</div>
	
	
		
		<a href="home">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Share</button>
		<div class="dropdown-content">
		<a href="notes">Notes</a>
		<a href="upload">Upload</a>
		</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Community</button>
		<div class="dropdown-content">
		<a href="forum">Forum</a>
		<a href="qa">Ask a question</a>
		</div>
		</div>
		<a href="about" class="active">About</a>
		<div class="login" id="myLogin">
			<a href="login" class="login-btn">Login</a>
			<p class="login-p"> or </p>
			<a href="register" class="login-btn">Register</a>
			</div>	
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
		
		</div>
		
	<div class="content">
	<div class="formcont">
			<h1 style="margin-left:50%">Log In</h1>
  			<form action="/login" method="post">
    			<input style="width:200px;" type="text" name="username" id="Username" placeholder="Username" required/>
    			<br>
    			<input style="width:200px;" type="password" name="password" id="Password" placeholder="Password" required/>
    			<br>
    			<input style="width:200px;" type="submit" class="button" value="Log In"/>
  			</form>
	</div>
	</div>
	
	

</body>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  var y = document.getElementById("myLogin");
  
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
   if (y.className === "login") {
    y.className += " responsive";
  } else {
    y.className = "login";
  }
  
}
</script>


</html>
		
